/.DS_Store
/.vscode
/CSharp.code-workspace
/CSharp.csproj
/CSharp.sln
/Database
/PlantUML
/TCP
/XML
/bin
/obj
*.txt
*.DS_Store


bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

TestResults/
.idea/
.vs/
*.code-workspace
*.user